h1{
  text-align: center;
}
h3{
  text-align: center;
}
.formClass{
  text-align: center;
  font-family: sans-serif;
  width: 80%;
  margin: 2% auto;
  border: 3px solid red;
  padding: 1%;
  background-color: rgb(170, 195, 236);
}

.formClass .formField {
  flex: 1 1 80%;
  display: flex;
  margin: 3% 1%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.formClass .formField input {
  width: 65%;
  padding: 10px 6px; 
  margin: 0 5% 0 0;
  border: 2px solid orange;
  border-radius:5px;
}

.formClass .formField label {
  font-weight: bold;
  padding: 5px 6px; 
}

.formClass .formGender {
  font-weight: bold; 
  display: flex;
  flex: 1 1 80%;
  margin: 3% 1%;
  flex-flow: row wrap;
  justify-content: start; 
}

.formClass .formGender select {
  width: 50%;
  flex: 1;
  padding: 10px 6px; 
  margin: 0 5% 0 17.5%;
  border: 2px solid orange;
  border-radius:5px;
}

.formClass .butt1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  margin: 1%;
  padding: 5px;
  border-radius:10px;
  background-color: ash;
}

.formClass .butt1:hover {
  background-color: #1172c4;
}

/*for index page */
.div1{
  background-color: white;
  font-family: verdana;
  font-size: 10pt;
  width: 65%;
  margin:2% auto;
  padding:5% 10%;
}
